.navMainDiv {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: teal;
}

.navHeading {
  font-size: 20px;
  color: #ffff;
}

.navSubDiv {
  font-size: 20px;
  display: flex;
}
.navSubDiv p {
  color: #ffff;
}

/* @media all and(min-width: 0px) and (max-width: 420px) {

} */

@media screen and (max-width: 400px) {
  .navHeading {
    font-size: 18px;
  }
  .navSubDiv {
    font-size: 15px;
  }
}
